/* ResetPasswordRequest.css */

.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4b0082; /* Dark purple background */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.reset-password-title {
    color: #ffffff; /* White color for the title */
    margin-bottom: 20px;
}

.reset-request-form {
    display: flex;
    flex-direction: column;
}

.input-field {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #ffffff; /* White background for input fields */
    color: #333; /* Dark text color for inputs */
    font-size: 16px;
}

.input-field:focus {
    outline: none;
    border: 2px solid #4b0082; /* Dark purple border on focus */
}

.reset-button {
    padding: 10px;
    background-color: #6a0dad; /* Purple button background */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: #4b0082; /* Darker purple on hover */
}

.go-to-login-button {
    margin-top: 15px;
    padding: 10px;
    background-color: #4b0082; /* Dark purple */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.go-to-login-button:hover {
    background-color: #6a0dad; /* Lighter purple on hover */
}
